<form class="row gy-2 gx-3 align-items-center" id="formConta" title="Adicionar Agendamento">
    <div class="row">
        <div class="col-3">
            <input type="hidden" id="id-adicionar" />
            <label for="agencia-adicionar" class="col-form-label">Agência:</label>
            <input type="text" class="form-control" id="agencia-adicionar" title="Agência" placeholder="Informe a agência" required>
        </div>
        <div class="col-3">
            <label for="conta-adicionar" class="col-form-label">Conta:</label>
            <input type="text" class="form-control" id="conta-adicionar" title="Conta" placeholder="Informe a conta" required>
        </div>
        <div class="col-3">
            <label for="banco-adicionar" class="col-form-label">Banco:</label>
            <input type="text" class="form-control" id="banco-adicionar" title="Banco" required></input>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="descricao-adicionar" class="col-form-label">Descrição:</label>
            <input type="text" class="form-control" id="descricao-adicionar" title="Descrição" placeholder="Informe a descrição da conta" required>
        </div>
        <div class="col-3">
            <label for="tipo-adicionar" class="col-form-label">Tipo:</label>
            <input type="text" class="form-control" id="tipo-adicionar" title="Tipo" required></input>            
        </div>
        <div class="col-3">
            <label for="saldo-adicionar" class="col-form-label">Saldo:</label>
            <input type="text" class="form-control" id="saldo-adicionar" title="Saldo" placeholder="Informe o saldo da conta" required>
        </div>
    </div>
</form>  