<form class="row gy-2 gx-3 align-items-center" id="formCurso" title="Adicionar curso">
    <div class="row">
        <div class="col-3">
            <input type="hidden" id="id-adicionar" />
            <label for="curso-adicionar" class="col-form-label">Curso:</label>
            <input type="text" class="form-control" id="curso-adicionar" title="Curso" placeholder="Informe o curso" required>
        </div>
        <div class="col-6">
            <label for="capa-adicionar" class="col-form-label">Capa:</label>
            <input type="text" class="form-control" id="capa-adicionar" title="Capa" placeholder="Informa a url da capa" required>
        </div>
        <div class="col-3">
            <label for="valor-adicionar" class="col-form-label">Valor:</label>
            <input type="text" class="form-control" id="valor-adicionar" title="Valor" placeholder="Informe o valor" required>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="compra-adicionar" class="col-form-label">Compra:</label>
            <input type="datetime-local" class="form-control" id="compra-adicionar" title="Compra" required>
        </div>
        <div class="col-6">
            <label for="instrutor-adicionar" class="col-form-label">Instrutor:</label>
            <input type="text" class="form-control" id="instrutor-adicionar" title="Instrutor" placeholder="Informe o instrutor" required>
        </div>
        <div class="col-3 align-content-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="certificado-adicionar">
                <label class="form-check-label" for="certificado-adicionar">
                    Certificado
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="aulas-adicionar" class="col-form-label">Aulas:</label>
            <input type="text" class="form-control" id="aulas-adicionar" title="Aulas" placeholder="0" required>
        </div>
        <div class="col-3">
            <label for="assistidos-adicionar" class="col-form-label">Assistidos:</label>
            <input type="text" class="form-control" id="assistidos-adicionar" title="Assistidos" placeholder="0" required>
        </div>
        <div class="col-3">
            <label for="horas-adicionar" class="col-form-label">Horas:</label>
            <input type="text" class="form-control" id="horas-adicionar" title="Horas" placeholder="0" required>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="area-adicionar" class="col-form-label">Área:</label>
            <select type="text" class="form-select" id="area-adicionar" title="Área" required></select>
        </div>
        <div class="col-3">
            <label for="escola-adicionar" class="col-form-label">Escola:</label>
            <select type="text" class="form-select" id="escola-adicionar" title="Escola" required></select>
        </div>
        <div class="col-3">
            <label for="status-adicionar" class="col-form-label">Status:</label>
            <select type="text" class="form-select" id="status-adicionar" title="Status" required>
            </select>
        </div>
    </div>
</form> 