<form class="row gy-2 gx-3 align-items-center" id="formCatalogo" title="Adicionar Titulo">
    <div class="row">
        <div class="col">
            <input type="hidden" id="id-adicionar" />
            <label for="titulo-adicionar" class="col-form-label">Titulo:</label>
            <input type="text" class="form-control" id="titulo-adicionar" title="Título" placeholder="Informe o título" required>
        </div>
        <div class="col">
            <label for="capa-adicionar" class="col-form-label">Capa:</label>
            <input type="text" class="form-control" id="capa-adicionar" title="Capa" placeholder="Informa a url da capa" required>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="tipo-adicionar" class="col-form-label">Tipo:</label>
            <select type="text" class="form-select" id="tipo-adicionar" title="Tipo" required></select>
        </div>
        <div class="col-4">
            <label for="status-adicionar" class="col-form-label">Status:</label>
            <select type="text" class="form-select" id="status-adicionar" title="Status" required></select>
        </div>
        <div class="col-4">
            <label for="plataforma-adicionar" class="col-form-label">Plataforma:</label>
            <select type="text" class="form-select" id="plataforma-adicionar" title="Plataforma" required></select>
        </div>       
    </div>  
    <div class="row">
        <div class="col-5">
            <label for="data-inicio" class="col-form-label">Data Inicio:</label>
            <input type="datetime-local" class="form-control" id="data-inicio" title="Inicio" required>
        </div>
        <div class="col-5">
            <label for="data-fim" class="col-form-label">Data Fim:</label>
            <input type="datetime-local" class="form-control" id="data-fim" title="Fim">
        </div> 
    </div>
    <div class="row">
        <div class="col-2">
            <label for="episodios-adicionar" class="col-form-label">Episódios:</label>
            <input type="text" class="form-control" id="episodios-adicionar" title="Episódios" placeholder="0" required>
        </div>
        <div class="col-2">
            <label for="assistidos-adicionar" class="col-form-label">Assistidos:</label>
            <input type="text" class="form-control" id="assistidos-adicionar" title="Assistidos" placeholder="0" required>
        </div>
        <div class="col-2">
            <label for="temporada-adicionar" class="col-form-label">Temporadas:</label>
            <input type="text" class="form-control" id="temporada-adicionar" title="Temporada" placeholder="0" required>
        </div>
        <div class="col-2">
            <label for="pontuacao-adicionar" class="col-form-label">Pontuação:</label>
            <input type="text" class="form-control" id="pontuacao-adicionar" title="pontuação" vale="0" placeholder="0" required>
        </div>
        <div class="col-3">
            <label for="vezes-adicionar" class="col-form-label">Vezes Assistidos:</label>
            <input type="text" class="form-control" id="vezes-adicionar" title="vezes" vale="0" placeholder="0" required>
        </div>
    </div>                 
</form>    